:root {
  --primary: hsl(180, 29%, 50%);
  --primary-bg: hsl(180, 31%, 95%);
  --dark: hsl(180, 8%, 52%);
  --very-dark: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
}
